<template>
    <p>{{ greeting }} World!</p>
</template>

<script>
    module.exports = {
        data: function () {
            alert("hello");
            return {
                greeting: "Hello"
            };
        },
        //insert the following code for vue-meta to work
        metaInfo() {
            return {
                title: `${this.greeting} - Epiloge`,
                meta: [
                    {
                        name: 'description',
                        content: 'Connect and follow ' + this.greeting + ' on Epiloge - ' + this.greeting
                    }
                ]
            }
        }
    };
</script>

<style scoped>
    p {
        font-size: 2em;
        text-align: center;
    }
</style>
