<style  scoped>
    .eut-header-text-element .eut-btn {
        top: -39px !important;
    }

    #eut-main-menu #menu-pear-commerce-desktop li {
        padding: 0 4px;
    }

    @media only screen and (max-width: 767px) {
        #eut-theme-wrapper .eut-btn {
            font-size: 11px !important;
            line-height: 2.29em;
        }
    }

    .eut-btn {
        text-transform: uppercase !important;
    }

    .eut-align-right {
        text-align: left !important;
    }

    body {
        /* Temp Fix */
        background-color: white !important;
        margin: auto !important;
    }

    eut-header.eut-fixed #eut-main-header.eut-header-default, #eut-header.eut-fixed #eut-main-header.eut-header-logo-top #eut-bottom-header {
        /* position: fixed; */
        position: absolute;

    }

    #slider-14-slide-47-layer-30 img {
        width: 90%;
    }

    #eut-header.eut-fullwidth #eut-main-header:not(.eut-side-default) .eut-container, #eut-header.eut-fullwidth #eut-responsive-header .eut-container {
        padding-left: 1.4rem;
        padding-right: 1.3rem;
    }

    rs-module-wrap {
        max-height: 200px !important;
        height: auto !important;
    }

    @media only screen and (min-width: 768px) and (max-width: 1200px) {
        rs-module-wrap {
            max-height: 100px !important;
        }
    }

    .eut-page-title, #eut-feature-section {
        overflow: visible !important;
    }

    @media only screen and (max-width: 767px) {
        h1, .eut-h1, #eut-theme-wrapper .eut-modal .eut-search input[type="text"], .eut-dropcap span, p.eut-dropcap:first-letter {
            font-size: 28px !important;
            line-height: 1.23em !important;
            margin-top: 20px !important;

        }

        .attachment-full.size-full {
            width: auto !important;
            max-height: 300px;
        }
    }

    h4, .eut-h4 {
        line-height: initial;

    }

    .vc_custom_1595963632813 {
        margin-bottom: 15px !important;
    }

    .vc_custom_1595964877529 {
        margin-bottom: 15px !important;
    }

    .vc_custom_1595963673262 {
        margin-bottom: 15px !important;
    }

    .vc_custom_contact {
        padding-top: 12% !important;
        padding-right: 12% !important;
        padding-bottom: 12% !important;
        padding-left: 12% !important;
        border-radius: 10px !important;
    }
</style>


<script>
    module.exports = {
        data: function () {
            return {};
        },
        //insert the following code for vue-meta to work
        metaInfo() {
            return {
                title: `Pear Commerce &#8211; Connecting Consumers To The Products and Retailers They Love.`,
                meta: [
                    {
                        name: 'description',
                        content: 'Connect and follow ' + this.greeting + ' on Epiloge - ' + this.greeting
                    }
                ]
            }
        }
    };
</script>

<template>
    <div id="eut-theme-content">

        <div id="eut-feature-section" class="eut-with-revslider">

            <!-- START Eric Home REVOLUTION SLIDER 6.2.1 --><p class="rs-p-wp-fix"></p>
            <rs-module-wrap id="rev_slider_15_1_wrapper" data-source="gallery"
                            style="background:#ffffff;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;max-width:">
                <rs-module id="rev_slider_15_1" style="display:none;" data-version="6.2.1">
                    <rs-slides>
                        <rs-slide data-key="rs-51" data-title="Intro" data-anim="ei:d;eo:d;s:1800;r:0;t:fade;sl:d;">
                            <img src="/wp-content/plugins/revslider/public/assets/assets/transparent.png"
                                 title="Home_Hero_Green Background" width="1920" height="1216"
                                 data-bg="p:center top;c:#ffffff;" data-parallax="5" class="rev-slidebg"
                                 data-no-retina>
                            <!--
                                                        --><h1
                                id="slider-15-slide-51-layer-7"
                                class="rs-layer WebProduct-Title rs-selectable"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="xo:150px,150px,150px,33px;y:m,m,m,t;yo:-173px,-173px,-173px,87px;"
                                data-text="w:normal;s:40,40,40,30;l:60,60,60,36;a:center,center,center,left;"
                                data-dim="w:1026,1026,1026,90%;h:121,121,121,auto;"
                                data-frame_0="x:-74px,-74px,-74px,-50px;y:inherit,inherit,inherit,-64px;tp:600;"
                                data-frame_1="x:0px,0px,0px,1px;y:0px,0px,0px,-64px;e:power2.out;st:1000;sp:1000;sR:1000;"
                                data-frame_999="o:0;tp:600;e:power4.in;st:w;sp:1500;sR:7000;"
                                style="z-index:11;font-family:Poppins;"
                        >The most powerful CPG where-to-buy solution,<br/>
                            designed for modern ecommerce.
                        </h1><!--

							-->
                            <rs-layer
                                    id="slider-15-slide-51-layer-30"
                                    data-type="image"
                                    data-rsp_ch="on"
                                    data-xy="xo:-600px,-600px,-600px,0;y:b;yo:201px,201px,201px,394px;"
                                    data-text="w:normal;s:20,20,20,6;l:0,0,0,8;"
                                    data-dim="w:5000px,5000px,5000px,1068.0576923076922px;h:500px,500px,500px,561px;"
                                    data-frame_1="e:none;"
                                    data-frame_999="o:0;st:w;"
                                    style="z-index:8;left:0px;"
                            ><img src="/wp-content/uploads/2020/07/Home_Hero_Green-Background-Narrow.png"
                                  width="1696" height="1206" data-no-retina>
                            </rs-layer><!--
-->                        </rs-slide>
                    </rs-slides>
                    <rs-static-layers><!--

							-->
                        <rs-layer
                                id="slider-15-slide-15-layer-1"
                                class="- rs-layer-static"
                                data-type="text"
                                data-color="rgba(255,255,255,1)"
                                data-xy="x:r;xo:30px;yo:30px;"
                                data-text="l:22;"
                                data-actions='o:click;a:toggleclass;layer:slider-15-slide-15-layer-1;d:0;class:open;||o:click;a:togglelayer;ls:hidden;layer:slider-15-slide-15-layer-3;d:0;||o:click;a:togglelayer;ls:hidden;layer:slider-15-slide-15-layer-4;d:0;||o:click;a:togglelayer;ls:hidden;layer:slider-15-slide-15-layer-5;d:0;||o:click;a:togglelayer;ls:hidden;layer:slider-15-slide-15-layer-6;d:0;'
                                data-basealign="slide"
                                data-rsp_o="off"
                                data-rsp_bd="off"
                                data-onslides="s:-1;e:-1;"
                                data-frame_0="tp:600;"
                                data-frame_1="tp:600;st:500;sp:1000;"
                                data-frame_999="st:w;sp:1000;auto:true;"
                                style="z-index:5;"
                        >
                            <div id="rev-burger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </rs-layer><!--
					--></rs-static-layers>
                    <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
                </rs-module>
            </rs-module-wrap>
            <!-- END REVOLUTION SLIDER -->
        </div>


        <div class="eut-single-wrapper">
            <!-- CONTENT -->
            <div id="eut-content" class="clearfix ">
                <div class="eut-content-wrapper">
                    <!-- MAIN CONTENT -->
                    <div id="eut-main-content">
                        <div class="eut-main-content-wrapper clearfix">

                            <!-- PAGE CONTENT -->
                            <div id="page-6344"
                                 class="post-6344 page type-page status-publish has-post-thumbnail hentry">
                                <div class="eut-section eut-row-section eut-fullwidth-background eut-padding-top-3x"
                                     id="about" data-tablet-sm-height-ratio="0" data-mobile-height-ratio="0"
                                     style="color:#716c80;padding-bottom: 250px;margin-bottom: 30px;">
                                    <div class="eut-container">
                                        <div class="eut-row eut-bookmark eut-columns-gap-default eut-mobile-vertical-gap-30">
                                            <div class="eut-column wpb_column eut-bookmark eut-column-1-3 eut-horizontal-position-center">
                                                <div class="eut-column-wrapper">
                                                    <div class="eut-column-content" style="max-width:70%">
                                                        <div class="eut-element eut-box eut-align-center eut-animated-item eut-fade-in-up eut-duration-normal"
                                                             style="margin-bottom: 5%;" data-delay="200">
                                                            <div class="eut-media eut-radius-5">
                                                                <figure class="eut-image-hover eut-zoom-none">
                                                                    <div class="eut-bg-primary-1 eut-hover-overlay eut-opacity-0"></div>
                                                                    <div class="eut-thumbnail-wrapper">
                                                                        <div class="eut-thumbnail"
                                                                             style="padding-top: 186.567%;"><img
                                                                                width="268" height="500"
                                                                                src="/wp-content/uploads/2020/04/OfferImage-3.png"
                                                                                class="attachment-full size-full"
                                                                                alt="" data-eutf-filter="yes"
                                                                                srcset="/wp-content/uploads/2020/04/OfferImage-3.png 268w, /wp-content/uploads/2020/04/OfferImage-3-161x300.png 161w"
                                                                                sizes="(max-width: 268px) 100vw, 268px"/>
                                                                        </div>
                                                                    </div>
                                                                </figure>
                                                            </div>
                                                            <div class="eut-box-content"><h3
                                                                    class="eut-box-title eut-h5">Click</h3>    </a>
                                                                <p class="">Brands attach a call to &#8220;Buy Now&#8221;
                                                                    to their existing digital advertisements or
                                                                    website.</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="eut-background-wrapper"></div>
                                                </div>
                                            </div>
                                            <div class="eut-column wpb_column eut-bookmark eut-column-1-3 eut-mobile-column-1 eut-horizontal-position-center">
                                                <div class="eut-column-wrapper">
                                                    <div class="eut-column-content" style="max-width:70%">
                                                        <div class="eut-element eut-box eut-align-center eut-animated-item eut-fade-in-up eut-duration-normal"
                                                             style="margin-bottom: 5%;" data-delay="200">
                                                            <div class="eut-media eut-radius-5">
                                                                <figure class="eut-image-hover eut-zoom-none">
                                                                    <div class="eut-bg-primary-1 eut-hover-overlay eut-opacity-0"></div>
                                                                    <div class="eut-thumbnail-wrapper">
                                                                        <div class="eut-thumbnail"
                                                                             style="padding-top: 187.266%;"><img
                                                                                width="267" height="500"
                                                                                src="/wp-content/uploads/2020/04/Picker-2.png"
                                                                                class="attachment-full size-full"
                                                                                alt="" data-eutf-filter="yes"
                                                                                srcset="/wp-content/uploads/2020/04/Picker-2.png 267w, /wp-content/uploads/2020/04/Picker-2-160x300.png 160w"
                                                                                sizes="(max-width: 267px) 100vw, 267px"/>
                                                                        </div>
                                                                    </div>
                                                                </figure>
                                                            </div>
                                                            <div class="eut-box-content"><h3
                                                                    class="eut-box-title eut-h5">Pick</h3>    </a><p
                                                                    class="">Pear Commerce hosts a branded landing
                                                                page with an add to cart link for every retailer
                                                                ecommerce site that stocks the product.</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="eut-background-wrapper"></div>
                                                </div>
                                            </div>
                                            <div class="eut-column wpb_column eut-bookmark eut-column-1-3 eut-mobile-column-1 eut-horizontal-position-center">
                                                <div class="eut-column-wrapper">
                                                    <div class="eut-column-content" style="max-width:70%">
                                                        <div class="eut-element eut-box eut-align-center eut-animated-item eut-fade-in-up eut-duration-normal"
                                                             style="margin-bottom: 5%;" data-delay="200">
                                                            <div class="eut-media eut-radius-5">
                                                                <figure class="eut-image-hover eut-zoom-none">
                                                                    <div class="eut-bg-primary-1 eut-hover-overlay eut-opacity-0"></div>
                                                                    <div class="eut-thumbnail-wrapper">
                                                                        <div class="eut-thumbnail"
                                                                             style="padding-top: 187.266%;"><img
                                                                                width="267" height="500"
                                                                                src="/wp-content/uploads/2020/04/Jims.png"
                                                                                class="attachment-full size-full"
                                                                                alt="" data-eutf-filter="yes"
                                                                                srcset="/wp-content/uploads/2020/04/Jims.png 267w, /wp-content/uploads/2020/04/Jims-160x300.png 160w"
                                                                                sizes="(max-width: 267px) 100vw, 267px"/>
                                                                        </div>
                                                                    </div>
                                                                </figure>
                                                            </div>
                                                            <div class="eut-box-content"><h3
                                                                    class="eut-box-title eut-h5">Buy</h3>    </a><p
                                                                    class="">The shopper buys from their retailer of
                                                                choice! It&#8217;s that easy!</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="eut-background-wrapper"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eut-background-wrapper"></div>
                                </div>
                                <div class="eut-section eut-row-section eut-fullwidth-background"
                                     data-tablet-sm-height-ratio="0" data-mobile-height-ratio="0"
                                     style="color:#716c80;margin-bottom: 0px;">
                                    <div class="eut-container">
                                        <div class="eut-row eut-bookmark eut-columns-gap-default eut-mobile-vertical-gap-30">
                                            <div class="eut-column wpb_column eut-bookmark eut-column-1 eut-tablet-sm-column-1 eut-custom-position eut-top-minus-4x eut-align-center">
                                                <div class="eut-column-wrapper">
                                                    <div class="eut-column-content"><h2
                                                            class="eut-element eut-title eut-align-inherit eut-h4"
                                                            style="">
                                                        <span>The best digital marketing ROI a CPG can get.</span>
                                                    </h2>
                                                        <div class="eut-element eut-text vc_custom_1595963632813">
                                                            <p style="text-align: left;"><strong>CPG
                                                                companies</strong>, we&#8217;ve reinvented the
                                                                where-to-buy to address the challenges of modern
                                                                digital marketing. Establish <strong>direct
                                                                    relationships with consumers</strong> of your
                                                                product through our first party (and zero party)
                                                                data collection, and drive business to the shopping
                                                                cart of <strong>any retailer</strong> that stocks
                                                                your product. Sound too good to be true? Have we
                                                                mentioned that we&#8217;re <strong>free</strong> for
                                                                brands?</p>

                                                        </div>
                                                        <div class="eut-element eut-align-inherit"><a href="/cpg/"
                                                                                                      title="CPG Brands"
                                                                                                      class="eut-btn eut-btn-large eut-btn-gradient eut-btn-5f28531f02f76 eut-extra-round eut-bg-primary-3 eut-bg-hover-primary-3 eut-gradient-1-primary-3 eut-gradient-2-primary-4"
                                                                                                      style="margin-bottom: 150px;"><span>Learn more</span></a>
                                                        </div>
                                                        <h2 class="eut-element eut-title eut-align-inherit eut-h4"
                                                            style=""><span>Experience unprecedented growth for your retail business by tapping into your CPG partners&#8217; marketing efforts.</span>
                                                        </h2>
                                                        <div class="eut-element eut-text vc_custom_1595964877529">
                                                            <p style="text-align: left;"><strong>Retailers,</strong>
                                                                by collaborating with your CPG partners, you can
                                                                lower the cost of your digital advertising. We
                                                                provide the most competitive CPM and PPC of any ad
                                                                network by directing traffic from CPG digital
                                                                advertising. Double your marketing performance
                                                                overnight by receiving your fair share of traffic
                                                                from national CPG ads.</p>

                                                        </div>
                                                        <div class="eut-element eut-align-inherit"><a
                                                                href="/retail/" title="Retailer"
                                                                class="eut-btn eut-btn-large eut-btn-gradient eut-btn-5f28531f030a9 eut-extra-round eut-bg-primary-3 eut-bg-hover-primary-3 eut-gradient-1-primary-3 eut-gradient-2-primary-4"
                                                                style="margin-bottom: 150px;"><span>Learn more</span></a>
                                                        </div>
                                                        <h2 class="eut-element eut-title eut-align-inherit eut-h4"
                                                            style="">
                                                            <span>The right team to build an industry-changing product.</span>
                                                        </h2>
                                                        <div class="eut-element eut-text vc_custom_1595963673262">
                                                            <p style="text-align: left;">We are a software startup
                                                                relentlessly pursuing collaboration between brands
                                                                and retailers for game changing mutual success.</p>
                                                            <p style="text-align: left;">Our proprietary technology
                                                                allows us to provide our customers benefits that no
                                                                other company can: complete retail coverage and
                                                                first party data. Our past experiences range from
                                                                building and selling companies to decades of
                                                                retail/CPG experience. Together, we&#8217;re the
                                                                team to get the job done.</p>

                                                        </div>
                                                        <div class="eut-element eut-align-inherit"><a
                                                                href="/company/" title="CPG Brands"
                                                                class="eut-btn eut-btn-large eut-btn-gradient eut-btn-5f28531f031ab eut-extra-round eut-bg-primary-3 eut-bg-hover-primary-3 eut-gradient-1-primary-3 eut-gradient-2-primary-4"
                                                                style="margin-bottom: 30px;"><span>Learn more</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="eut-background-wrapper"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eut-background-wrapper"></div>
                                </div>
                                <div class="eut-section eut-row-section eut-fullwidth-background eut-padding-top-2x eut-padding-bottom-4x"
                                     data-tablet-sm-height-ratio="0" data-mobile-height-ratio="0">
                                    <div class="eut-container">
                                        <div class="eut-row eut-bookmark eut-columns-gap-default eut-mobile-vertical-gap-30">
                                            <div class="eut-column wpb_column eut-bookmark eut-column-1">
                                                <div class="eut-column-wrapper vc_custom_contact eut-medium-shadow eut-with-shadow"
                                                     style="background-color:#ffffff;">
                                                    <div class="eut-column-content">
                                                        <div class="eut-inner-section eut-bookmark"
                                                             data-tablet-sm-height-ratio="0"
                                                             data-mobile-height-ratio="0">
                                                            <div class="eut-row-inner eut-columns-gap-default eut-mobile-vertical-gap-60">
                                                                <div class="eut-column-inner wpb_column eut-bookmark eut-column-1-3 eut-mobile-align-center">
                                                                    <div class="eut-column-wrapper-inner">
                                                                        <div class="eut-column-inner-content"><h3
                                                                                class="eut-element eut-title eut-align-inherit eut-h4 eut-title-gradient eut-gradient-1-primary-1 eut-gradient-2-primary-2"
                                                                                style="">
                                                                            <span>Let&#8217;s work together</span>
                                                                        </h3>
                                                                            <div class="eut-element eut-text">
                                                                                <p>Reach out to start creating real
                                                                                    value today!</p>

                                                                            </div>
                                                                            <div class="eut-empty-space eut-height-2x"
                                                                                 style=""></div>
                                                                            <h3 class="eut-element eut-title eut-align-inherit eut-h6"
                                                                                style="margin-bottom: 12px;">
                                                                                <span>Email Address</span>
                                                                            </h3>
                                                                            <div class="eut-element eut-text eut-small-text">
                                                                                <p>
                                                                                    <a href="mailto:sales@pearcommerce.com">sales@pearcommerce.com</a>
                                                                                </p>

                                                                            </div>
                                                                            <div class="eut-empty-space eut-height-1x"
                                                                                 style=""></div>
                                                                            <h3 class="eut-element eut-title eut-align-inherit eut-h6"
                                                                                style="margin-bottom: 12px;">
                                                                                <span>Address</span>
                                                                            </h3>
                                                                            <div class="eut-element eut-text eut-small-text">
                                                                                <p>
                                                                                    <a href="https://goo.gl/maps/ZaVFqSc3fuqSfQR69">Pear
                                                                                        Commerce</a><br/>
                                                                                    <a href="https://goo.gl/maps/ZaVFqSc3fuqSfQR69">3349
                                                                                        Girard Ave S</a><br/>
                                                                                    <a href="https://goo.gl/maps/ZaVFqSc3fuqSfQR69">Minneapolis
                                                                                        MN 55408</a></p>

                                                                            </div>
                                                                            <div class="eut-empty-space eut-height-1x"
                                                                                 style=""></div>
                                                                        </div>
                                                                        <div class="eut-background-wrapper"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="eut-column-inner wpb_column eut-bookmark eut-column-2-3 eut-horizontal-position-right eut-mobile-reset-content-width eut-mobile-align-center"
                                                                     style="color:#3f405b;">
                                                                    <div class="eut-column-wrapper-inner">
                                                                        <div class="eut-column-inner-content"
                                                                             style="max-width:85%">
                                                                            <div class="eut-element eut-contact-form eut-contact-form-5f28531f0cd7e eut-form-btn-simple eut-form-btn-extra-round eut-form-btn-bg-primary-3 eut-form-btn-bg-hover-primary-4 eut-form-btn-medium eut-form-btn-shadow-medium">
                                                                                <div role="form" class="wpcf7"
                                                                                     id="wpcf7-f165-p6344-o1"
                                                                                     lang="en-US" dir="ltr">
                                                                                    <div class="screen-reader-response"></div>
                                                                                    <form action="/#wpcf7-f165-p6344-o1"
                                                                                          method="post"
                                                                                          class="wpcf7-form"
                                                                                          novalidate="novalidate">
                                                                                        <div style="display: none;">
                                                                                            <input type="hidden"
                                                                                                   name="_wpcf7"
                                                                                                   value="165"/>
                                                                                            <input type="hidden"
                                                                                                   name="_wpcf7_version"
                                                                                                   value="5.1.6"/>
                                                                                            <input type="hidden"
                                                                                                   name="_wpcf7_locale"
                                                                                                   value="en_US"/>
                                                                                            <input type="hidden"
                                                                                                   name="_wpcf7_unit_tag"
                                                                                                   value="wpcf7-f165-p6344-o1"/>
                                                                                            <input type="hidden"
                                                                                                   name="_wpcf7_container_post"
                                                                                                   value="6344"/>
                                                                                        </div>
                                                                                        <div class="eut-form eut-underline">
                                                                                            <div class="eut-fields-wrapper">
                                                                                                <div>
                                                                                                    <h5>Your Name <i
                                                                                                            class="eut-text-primary-2">*</i>
                                                                                                    </h5>
                                                                                                    <p><span
                                                                                                            class="wpcf7-form-control-wrap your-name"><input
                                                                                                            type="text"
                                                                                                            name="your-name"
                                                                                                            value=""
                                                                                                            size="40"
                                                                                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                            aria-required="true"
                                                                                                            aria-invalid="false"/></span>
                                                                                                    </p></div>
                                                                                                <div>
                                                                                                    <h5>Your Email
                                                                                                        <i class="eut-text-primary-2">*</i>
                                                                                                    </h5>
                                                                                                    <p><span
                                                                                                            class="wpcf7-form-control-wrap your-email"><input
                                                                                                            type="email"
                                                                                                            name="your-email"
                                                                                                            value=""
                                                                                                            size="40"
                                                                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                                            aria-required="true"
                                                                                                            aria-invalid="false"/></span>
                                                                                                    </p></div>
                                                                                                <div>
                                                                                                    <h5>Your
                                                                                                        message</h5>
                                                                                                    <p><span
                                                                                                            class="wpcf7-form-control-wrap your-message"><textarea
                                                                                                            name="your-message"
                                                                                                            cols="40"
                                                                                                            rows="10"
                                                                                                            class="wpcf7-form-control wpcf7-textarea"
                                                                                                            aria-invalid="false"></textarea></span>
                                                                                                    </p></div>
                                                                                                <div><input
                                                                                                        type="submit"
                                                                                                        value="Send your message"
                                                                                                        class="wpcf7-form-control wpcf7-submit eut-fullwidth-btn eut-fluid-btn-short"/>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <style type="text/css">
                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                input,
                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                textarea,
                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                select,
                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                .wpcf7-list-item-label:before {
                                                                                    border-width: 1px;
                                                                                    border-style: solid;
                                                                                    border-color: #eaeaea;;
                                                                                    background-color: transparent;;
                                                                                    color: #3f405b;;
                                                                                    font-size: 13px;;
                                                                                }

                                                                                .wpcf7-form .wpcf7-list-item-label:before {
                                                                                    border-color: #eaeaea !important;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                input:focus,
                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                textarea:focus,
                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                select:focus {
                                                                                    border-color: #eaeaea;;
                                                                                    background-color: transparent;;
                                                                                    color: #3f405b;;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                ::-webkit-input-placeholder {
                                                                                    color: #000000;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                :-moz-placeholder {
                                                                                    color: #000000;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                ::-moz-placeholder {
                                                                                    color: #000000;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                :-ms-input-placeholder {
                                                                                    color: #000000;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                :focus::-webkit-input-placeholder {
                                                                                    color: #000000;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                :focus:-moz-placeholder {
                                                                                    color: #000000;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                :focus::-moz-placeholder {
                                                                                    color: #000000;
                                                                                }

                                                                                .eut-contact-form.eut-contact-form-5f28531f0cd7e
                                                                                :focus:-ms-input-placeholder {
                                                                                    color: #000000;
                                                                                }
                                                                            </style>
                                                                        </div>
                                                                        <div class="eut-background-wrapper"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="eut-background-wrapper"></div>
                                                        </div>
                                                    </div>
                                                    <div class="eut-background-wrapper"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eut-background-wrapper"></div>
                                </div>


                            </div>
                            <!-- END PAGE CONTENT -->
                        </div>
                    </div>
                    <!-- END MAIN CONTENT -->


                </div>
            </div>
            <!-- END CONTENT -->


        </div>
    </div>


</template>
